.homePage {
    display: flex;
    --sidebar-width: 320px;
    width: 100vw;
}

/*.sidebar {*/
/*    width: 300px;*/
/*    padding: 20px;*/
/*    background-color: #f8f8f8;*/
/*    border-right: 1px solid #ddd;*/
/*}*/

.topRight {
    position: fixed;
    top: 10px;
    right: 10px;
    
}

.sidebar {
    
    position: fixed;
    width: var(--sidebar-width);
    background-color: #f8f8f8;
    border-right: 1px solid #ddd;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    padding: 20px;
}
.content {
    margin-left: calc(var(--sidebar-width) + 30px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 10px;
}