/*#root {*/
/*    max-width: 1280px;*/
/*    text-align: center;*/
/*    display: flex; */
/*    justify-content: flex-start; */
/*}*/


.content {
    flex: 1;
    padding: 20px;
    text-align: left; 
    margin-left: 20px; 
}


tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}